<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>functions</title>
  </head>
  <body>
    Without date formatting: {{.}}

    With date formatting: {{fdateMDY .}}
  </body>
</html>
