<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>functions</title>
  </head>
  <body>
    {{range .Wisdom}}
    {{uc .Name}}
    {{end}}

    {{range .Wisdom}}
    {{ft .Name}}
    {{end}}
  </body>
</html>
